*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box {
  width: 100px;
  height: 200px;
  border: 10px groove black;
  background-color: grey;
  margin: 30px;
  padding: 10px;
}

.second-box {
  width: 200px;
  height: 100px;
  border: 10px groove darkred;
  background-color: lightcoral;
  margin: 10px;
  padding: 30px;
}

.text-pad {
  padding: 0;
  margin: 0;
}
